#!/usr/bin/env bash

set -euo pipefail

# Brewfile hash: {{ include "Brewfile" | sha256sum }}
{{- if eq .chezmoi.os "darwin" }}

eval "$(/opt/homebrew/bin/brew shellenv zsh)"

echo "→ brew bundle..."
brew bundle --file={{ .chezmoi.sourceDir }}/Brewfile
brew analytics off || true

{{- else }}
exit 0
{{- end }}
