[user]
	name = Christopher Escalon
	email = escalonc@users.noreply.github.com
{{- if ne .chezmoi.os "darwin" }}
	signingkey = ~/.ssh/id_ed25519.pub
{{- end }}

{{- if ne .chezmoi.os "darwin" }}
# Sign commits with the SSH key materialized from 1Password. Set gpgsign = false
# if unsigned commits are preferable (e.g. to avoid blocking the agent should the
# key ever be missing).
[gpg]
	format = ssh
[commit]
	gpgsign = true
{{- end }}

[core]
{{- if eq .chezmoi.os "darwin" }}
	editor = subl --wait
{{- else }}
	editor = nvim
{{- end }}
	autocrlf = input
	excludesfile = ~/.gitignore_global
	pager = delta

[init]
	defaultBranch = main

[push]
	default = current

[pull]
	rebase = true

[rebase]
	autoStash = true

[fetch]
	prune = true

[diff]
	colorMoved = default

[rerere]
	enabled = true

[help]
	autocorrect = 1

[color]
	ui = auto

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true

[alias]
	st = status -sb
	co = checkout
	br = branch
	lg = log --oneline --graph --decorate --all
	undo = reset HEAD~1 --mixed
	wip = commit -am 'WIP'
	oops = commit --amend --no-edit
